/*Styling for the hidden div */
.hidden {
    visibility: hidden;
  }
  
  /* Styling for red circle */
   .one {
      background-color: rgba(247, 136, 167, 0.6);
      width: 275px;
      height: 275px;
      border-radius: 50%;
      position: absolute;
      top: 11%;
      right: 110px;
      z-index: 1;
    }
    /* Styling for orange circle */
    .two{
      background-color: rgba(247, 193, 162, 0.7);
      width: 225px;
      height: 225px;
      border-radius: 50%;
      position: absolute;
      top:35%;
      right: 20px;
      z-index: 3;
    }
    /* Styling for purple circle */
    .three {
      background-color: rgba(207, 130, 213, 0.6);
      width: 175px;
      height: 175px;
      border-radius: 50%;
      position: absolute;
      top: 16%;
      right: 0;
      z-index: 2;
    }
  